In [4]:
import pandas as pd
import os

In [7]:
file = os.path.join("..","Resource","raw_data.csv")
df = pd.read_csv(file)
df.head()

,ID,MS,Mp,VFN,Mh,Man,MMS,TAN,T,Va,...,Mt,Enedc (g/km),Ewltp (g/km),W (mm),At1 (mm),At2 (mm),Ft,Fm,ec (cm3),ep (KW)
0,3034815,FR,RENAULT,NaN,RENAULT,RENAULT SAS,RENAULT,E2*2001/116*0327*80,R,2RAJ,...,NaN,95.0,NaN,2606.0,1531.0,1531.0,DIESEL,M,1461.0,66.0
1,3034852,FR,RENAULT,NaN,RENAULT,RENAULT SAS,RENAULT,E2*2001/116*0327*80,R,2RAJ,...,NaN,95.0,NaN,2606.0,1531.0,1531.0,DIESEL,M,1461.0,66.0
2,3034859,FR,RENAULT,NaN,RENAULT,RENAULT SAS,RENAULT,E2*2001/116*0327*80,R,2RAJ,...,NaN,95.0,NaN,2606.0,1531.0,1531.0,DIESEL,M,1461.0,66.0
3,3034866,FR,RENAULT,NaN,RENAULT,RENAULT SAS,RENAULT,E2*2001/116*0327*80,R,2RAJ,...,NaN,95.0,NaN,2606.0,1531.0,1531.0,DIESEL,M,1461.0,66.0
4,3034873,FR,RENAULT,NaN,RENAULT,RENAULT SAS,RENAULT,E2*2001/116*0327*80,R,2RAJ,...,NaN,95.0,NaN,2606.0,1531.0,1531.0,DIESEL,M,1461.0,66.0

In [8]:
df.dtypes

ID                int64
MS               object
Mp               object
VFN             float64
Mh               object
Man              object
MMS              object
TAN              object
T                object
Va               object
Ve               object
Mk               object
Cn               object
Ct               object
Cr               object
m (kg)          float64
Mt              float64
Enedc (g/km)    float64
Ewltp (g/km)    float64
W (mm)          float64
At1 (mm)        float64
At2 (mm)        float64
Ft               object
Fm               object
ec (cm3)        float64
ep (KW)         float64
dtype: object

In [9]:
df.isnull().sum()

ID                  0
MS                  0
Mp               6838
VFN             24962
Mh                  0
Man                 0
MMS              2192
TAN                78
T                  48
Va                 73
Ve                101
Mk                 88
Cn                 37
Ct                  0
Cr               6511
m (kg)              4
Mt              24952
Enedc (g/km)      155
Ewltp (g/km)    24952
W (mm)              1
At1 (mm)          277
At2 (mm)         1087
Ft                  2
Fm                  0
ec (cm3)          173
ep (KW)           685
dtype: int64

In [10]:
df.drop(['VFN','Mt','Ewltp (g/km)'], axis=1, inplace=True)
df.isnull().sum()

ID                 0
MS                 0
Mp              6838
Mh                 0
Man                0
MMS             2192
TAN               78
T                 48
Va                73
Ve               101
Mk                88
Cn                37
Ct                 0
Cr              6511
m (kg)             4
Enedc (g/km)     155
W (mm)             1
At1 (mm)         277
At2 (mm)        1087
Ft                 2
Fm                 0
ec (cm3)         173
ep (KW)          685
dtype: int64

In [12]:
df.shape

(24962, 23)

In [13]:
df.dropna(how = 'any', inplace=True )

In [14]:
df.isnull().sum()

ID              0
MS              0
Mp              0
Mh              0
Man             0
MMS             0
TAN             0
T               0
Va              0
Ve              0
Mk              0
Cn              0
Ct              0
Cr              0
m (kg)          0
Enedc (g/km)    0
W (mm)          0
At1 (mm)        0
At2 (mm)        0
Ft              0
Fm              0
ec (cm3)        0
ep (KW)         0
dtype: int64

In [15]:
df.shape

(12576, 23)

In [17]:
df.head(20)

,ID,MS,Mp,Mh,Man,MMS,TAN,T,Va,Ve,...,Cr,m (kg),Enedc (g/km),W (mm),At1 (mm),At2 (mm),Ft,Fm,ec (cm3),ep (KW)
0,3034815,FR,RENAULT,RENAULT,RENAULT SAS,RENAULT,E2*2001/116*0327*80,R,2RAJ,2RAJ1A,...,M1,1253.0,95.0,2606.0,1531.0,1531.0,DIESEL,M,1461.0,66.0
1,3034852,FR,RENAULT,RENAULT,RENAULT SAS,RENAULT,E2*2001/116*0327*80,R,2RAJ,2RAJ1A,...,M1,1253.0,95.0,2606.0,1531.0,1531.0,DIESEL,M,1461.0,66.0
2,3034859,FR,RENAULT,RENAULT,RENAULT SAS,RENAULT,E2*2001/116*0327*80,R,2RAJ,2RAJ1A,...,M1,1253.0,95.0,2606.0,1531.0,1531.0,DIESEL,M,1461.0,66.0
3,3034866,FR,RENAULT,RENAULT,RENAULT SAS,RENAULT,E2*2001/116*0327*80,R,2RAJ,2RAJ1A,...,M1,1253.0,95.0,2606.0,1531.0,1531.0,DIESEL,M,1461.0,66.0
4,3034873,FR,RENAULT,RENAULT,RENAULT SAS,RENAULT,E2*2001/116*0327*80,R,2RAJ,2RAJ1A,...,M1,1253.0,95.0,2606.0,1531.0,1531.0,DIESEL,M,1461.0,66.0
5,3034951,FR,RENAULT,RENAULT,RENAULT SAS,RENAULT SAS,E2*2007/46*0475*04,RFE,HF2,MRBABB005000,...,M1,1448.0,132.0,2647.0,1562.0,1562.0,PETROL,M,1197.0,96.0
6,3034957,FR,RENAULT,RENAULT,RENAULT SAS,RENAULT SAS,E2*2007/46*0475*04,RFE,HF2,MRBABB005000,...,M1,1448.0,132.0,2647.0,1562.0,1562.0,PETROL,M,1197.0,96.0
7,3034963,FR,RENAULT,RENAULT,RENAULT SAS,RENAULT SAS,E2*2007/46*0475*04,RFE,HF2,MR6ABB005000,...,M1,1395.0,130.0,2647.0,1562.0,1562.0,PETROL,M,1197.0,96.0
8,3044658,FR,RENAULT,RENAULT,RENAULT SAS,RENAULT,E2*2001/116*0327*80,R,2RAJ,2RAJ1A,...,M1,1253.0,95.0,2606.0,1531.0,1531.0,DIESEL,M,1461.0,66.0
9,3044666,FR,RENAULT,RENAULT,RENAULT SAS,RENAULT,E2*2001/116*0327*80,R,2RAJ,2RAJ1A,...,M1,1253.0,95.0,2606.0,1531.0,1531.0,DIESEL,M,1461.0,66.0
10,3044707,FR,RENAULT,RENAULT,RENAULT SAS,RENAULT,E2*2001/116*0327*80,R,2RAJ,2RAJ1A,...,M1,1253.0,95.0,2606.0,1531.0,1531.0,DIESEL,M,1461.0,66.0
11,3044715,FR,RENAULT,RENAULT,RENAULT SAS,RENAULT,E2*2001/116*0327*80,R,2RAJ,2RAJ1A,...,M1,1253.0,95.0,2606.0,1531.0,1531.0,DIESEL,M,1461.0,66.0
12,3044721,FR,RENAULT,RENAULT,RENAULT SAS,RENAULT,E2*2001/116*0327*80,R,2RAJ,2RAJ1A,...,M1,1253.0,95.0,2606.0,1531.0,1531.0,DIESEL,M,1461.0,66.0
13,3035349,FR,RENAULT,RENAULT,RENAULT SAS,RENAULT,E2*2001/116*0327*80,R,2RAJ,2RAJ1A,...,M1,1253.0,95.0,2606.0,1531.0,1531.0,DIESEL,M,1461.0,66.0
14,3035357,FR,RENAULT,RENAULT,RENAULT SAS,RENAULT,E2*2001/116*0327*80,R,2RAJ,2RAJ1A,...,M1,1253.0,95.0,2606.0,1531.0,1531.0,DIESEL,M,1461.0,66.0
15,3035368,FR,RENAULT,RENAULT,RENAULT SAS,RENAULT SAS,E2*2001/116*0327*83,R,5RBF,5RBF0A,...,M1,1165.0,85.0,2589.0,1509.0,1509.0,DIESEL,M,1461.0,55.0
18,3035522,FR,RENAULT,RENAULT,RENAULT SAS,RENAULT,E2*2001/116*0327*80,R,2RAJ,2RAJ1A,...,M1,1253.0,95.0,2606.0,1531.0,1531.0,DIESEL,M,1461.0,66.0
19,3035529,FR,RENAULT,RENAULT,RENAULT SAS,RENAULT,E2*2001/116*0327*80,R,2RAJ,2RAJ1A,...,M1,1253.0,95.0,2606.0,1531.0,1531.0,DIESEL,M,1461.0,66.0
20,3035536,FR,RENAULT,RENAULT,RENAULT SAS,RENAULT,E2*2001/116*0327*80,R,2RAJ,2RAJ1A,...,M1,1253.0,95.0,2606.0,1531.0,1531.0,DIESEL,M,1461.0,66.0
21,3035544,FR,RENAULT,RENAULT,RENAULT SAS,RENAULT,E2*2001/116*0327*80,R,2RAJ,2RAJ1A,...,M1,1253.0,95.0,2606.0,1531.0,1531.0,DIESEL,M,1461.0,66.0

In [19]:
df.dtypes

ID                int64
MS               object
Mp               object
Mh               object
Man              object
MMS              object
TAN              object
T                object
Va               object
Ve               object
Mk               object
Cn               object
Ct               object
Cr               object
m (kg)          float64
Enedc (g/km)    float64
W (mm)          float64
At1 (mm)        float64
At2 (mm)        float64
Ft               object
Fm               object
ec (cm3)        float64
ep (KW)         float64
dtype: object

In [18]:
df.to_csv(os.path.join("..","Resource","clean_raw_data.csv"))